[submodule "imu"]
	path = imu
	url = git@github.com:phonght32/imu.git
[submodule "imu_filter"]
	path = imu_filter
	url = git@github.com:phonght32/imu_filter.git
[submodule "stepmotor"]
	path = stepmotor
	url = git@github.com:phonght32/stepmotor.git
[submodule "encoder"]
	path = encoder
	url = git@github.com:phonght32/encoder.git
[submodule "differential_drive"]
	path = differential_drive
	url = git@github.com:phonght32/differential_drive.git
