[submodule "imu/filter/imu_madgwick"]
	path = imu/filter/imu_madgwick
	url = git@github.com:phonght32/imu_madgwick.git
[submodule "motor/stepmotor"]
	path = motor/stepmotor
	url = git@github.com:phonght32/stepmotor.git
[submodule "motor/encoder"]
	path = motor/encoder
	url = git@github.com:phonght32/encoder.git
[submodule "imu/sensor/mpu6050"]
	path = imu/sensor/mpu6050
	url = git@github.com:phonght32/mpu6050.git
[submodule "kinematic/differential_drive"]
	path = kinematic/differential_drive
	url = git@github.com:phonght32/differential_drive.git
